body {
    background: url("images/bg-original.jpg") no-repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    color: tomato;
}
table {
    margin: auto;
 }
select {
    width: 80px;
    font-size: 16px;
    font-style: italic;
    opacity: 0.5;
    color: black;
}
.default {
    background: url("images/default.jpg") no-repeat;
    height: 50px;
    width: 50px;
}
.default_r {
    background: url("images/default_r.jpg") no-repeat;
    height: 50px;
    width: 50px;
}
.unluck {
    background: url("images/unluck.jpg") no-repeat;
    height: 50px;
    width: 50px;
}
.luck {
    background: url("images/luck.jpg") no-repeat;
    height: 50px;
    width: 50px;
}
.luck_1 {
    background: url("images/luck_1.jpg") no-repeat;
    height: 50px;
    width: 50px;
}
.luck_2 {
    background: url("images/luck_2.jpg") no-repeat;
    height: 50px;
    width: 50px;
}
.luck_3 {
    background: url("images/luck_3.jpg") no-repeat;
    height: 50px;
    width: 50px;
}
.luck_4 {
    background: url("images/luck_4.jpg") no-repeat;
    height: 50px;
    width: 50px;
}
.luck_5 {
    background: url("images/luck_5.jpg") no-repeat;
    height: 50px;
    width: 50px;
}
.luck_6 {
    background: url("images/luck_6.jpg") no-repeat;
    height: 50px;
    width: 50px;
}
.luck_7 {
    background: url("images/luck_7.jpg") no-repeat;
    height: 50px;
    width: 50px;
}
.luck_8 {
    background: url("images/luck_8.jpg") no-repeat;
    height: 50px;
    width: 50px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
}
.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #d2322d;
    border-color: #ac2925;
}
/* весь контейнер поддерживает перспективу */
.flip-container {
    perspective: 1000;
}

/* переверните сторону при проведении мышью */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}

/*---------------------------------------------*/
/* здесь находится скорость перевертывания */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* скройте обратную сторону во время переворота */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* лицевая сторона размещена над обратной */
.front {
    z-index: 2;
}

/* обратная, изначально скрытая сторона */
.back {
    transform: rotateY(180deg);
}